@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* @font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200 1000;
  font-display: swap;
  src: url(./../assets/fonts/XRXX3I6Li01BKofIMNaORs71cA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
} */

/*#region MARK: animation */
@keyframes appear {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes disappear {
  to { transform: scale(0.85); opacity: 0; }
}

@keyframes fadeOut {
  to { opacity: 0; }
}

.anim-appear-panel {
  animation: appear 400ms ease-out;
}

.anim-disappear-panel {
  animation: disappear 400ms ease;
}
/*#endregion animation */


[data-theme="dark"] {
  --primary-bg: #202020;
  --secondary-bg: #404040;
  
  --primary-text-color: #ffffff;
}

:root {
  --primary-text-font: 400 18px 'Nunito';
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--primary-bg);
}

* {
  -webkit-tap-highlight-color: transparent;
}

p {
  color: var(--primary-text-color);
  font-family: 'Nunito';
}

#app {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--primary-bg);
}

.top-bar {
  position: relative;
  height: fit-content;
  width: 90%;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 20px;
  border: none;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-bg);
}

.game-name {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.game-name span {
  cursor: default;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-text-color);
  opacity: 0;
  animation: appear 1s ease-in-out forwards;
}
.game-name span:nth-child(1) {
  animation-delay: 0;
}
.game-name span:nth-child(2) {
  animation-delay: 0.1s;
}
.game-name span:nth-child(3) {
  animation-delay: 0.2s;
}

.seperator {
  cursor: default;
  font-size: 2rem;
  margin: 0;
}

.toggle {
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  background: transparent;
}

#account-btn {

  font-size: 1.5rem;
  background-image: url("../assets/accountPic.jpg");
  background: var(--primary-bg);
  background-size: cover;
}

.account-panel {
  display: flex;
  justify-content: right;
  align-items: center;
  height: fit-content;
  margin: 0;
  padding: 0;
  gap: 0.4rem;
}

/*#region MARK: account panel */
#accountInfoPanel {
  position: absolute;
  z-index: 1;
  top: calc(20px + 50px + 5px);
  left: auto;
  right: calc(20px + 10%);
  bottom: 0;
  height: fit-content;
  width: fit-content;
  max-width: 300px;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  backdrop-filter: blur(20px);
  background-color: #ffffff60;
}

#accountInfoPanel hr {
  height: 0;
  width: 100%;
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ffffff50;
}

#accountInfoDiv {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0;
}

#accountPic {
  width: 40px;
  height: 40px;
  margin: 0;
  border: none;
  border-radius: 50%;
  background: var(--secondary-bg);
  background-image: url("./../assets/accountPic.jpg");
  background-size: cover;
}

#accountName {
  margin: 0 5px;
  font: 600 20px 'Nunito';
  text-align: left;
}

#statsDiv {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: transparent;
  gap: 0;
}

.stats-text {
  margin: 3px 0;
  font: var(--primary-text-font);
}
.stats-value {
  margin: 0 5px;
  opacity: 0.7;
}

#buttonDiv {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bnClose {
  --button-height: 50px;
  cursor: pointer;
  height: var(--button-height);
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: calc(var(--button-height) / 2);
  font-size: 18px;
  color: white;
  background-color: #ffffff20;
  box-shadow: 0 0 3px #ffffff inset;
  transition: all 0.3s ease-out;
}

#bnClose:hover {
  background-color: #fa4b4b27;
  box-shadow: none;
}

#bnClose p {
  margin: 0;
  color: #ff2b2b;
}

/*#endregion account panel */

.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#attempt-panel {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: transparent;
}

.attempt-row {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.attempt-box {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.attempt-box.selected {
  border: 3px solid var(--secondary-bg);
}

.attempt-box p {
  color: var(--primary-text-color);
  font: 500 25px 'Nunito';
  text-transform: uppercase;
}

.attempt-box.wrong {
  background: #afafaf50;
  border-color: #afafaf;
}

.attempt-box.present {
  background: #ffab2b50;
  border-color: #ffab2b;
}

.attempt-box.correct {
  background: #0e770050;
  border-color: #0e7700;
}

.attempt-box:active {
  background: #fafafa50;
  border-color: #fafafa;
}

#resultPanel {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
}

#resultMessage {
  font-size: 1.5rem;
  font-weight: 700;
  background: transparent;
  border: none;
}

/*#region MARK: Keyboard */
#keyboard {
  --key-height: 11vw;
  --key-width: 8.5vw;
  --key-gap: calc(calc(100vw - calc(10*var(--key-width))) / 11);
  
  position: absolute;
  z-index: 1;
  inset: 10px;
  height: fit-content;
  box-sizing: border-box;
  margin: auto 0 0;
  padding: 10px 5px;
  padding-bottom: clamp(env(safe-area-inset-bottom), 10vw, 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(5px + var(--key-gap));
  background: transparent;
}

.keyboard-row {
  width: 100%;
  box-sizing: border-box;
  gap: var(--key-gap);
  display: flex;
  justify-content: center;
}



.keyboard-row > button {
  cursor: pointer;
  flex-shrink: 1;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: var(--primary-text-color);
  background: var(--secondary-bg);
  box-shadow: 1px 1px 0px 0.1px gray;
  transition: all 0.2s ease-out;
  display: grid;
  place-items: center;
  p {
    margin: 0;
    font-family: 'Nunito';
  }
}

.key {
  height: var(--key-height);
  width: var(--key-width);
}

#keyboard .key.wrong {
  background: #afafaf;
}

#keyboard .key.present {
  background: #ffab2b;
}

#keyboard .key.correct {
  background: #0e7700;
}

#keyboard .key:active {
  background: #fafafa;
}

.action-key {
  flex: 1;
}
/*#endregion */